aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
depcomp
install-sh
libmp3tunes.git.tar.bz2
ltmain.sh
missing
mkinstalldirs
Makefile
Makefile.in
config.log
config.status
examples/.deps/
examples/Makefile
examples/Makefile.in
include/Makefile
include/Makefile.in
libmp3tunes.pc
libtool
src/.deps/
src/Makefile
src/harmony/.deps/
src/harmony/Makefile
src/harmony/Makefile.in
src/locker/.deps/
src/locker/Makefile
src/locker/Makefile.in
examples/.libs/
examples/example_daemon
examples/example_daemon-example_daemon.o
examples/example_locker
examples/example_locker-example_locker.o
examples/example_sync
examples/example_sync-example_sync.o
src/.libs/
src/harmony/.libs/
src/harmony/libharmony.la
src/harmony/libharmony_la-harmony.lo
src/harmony/libharmony_la-harmony.loT
src/harmony/libharmony_la-harmony.o
src/libmp3tunes.la
src/libmp3tunes_la-mp3tunes.lo
src/libmp3tunes_la-mp3tunes.o
src/locker/.libs/
src/locker/liblocker.la
src/locker/liblocker_la-locker.lo
src/locker/liblocker_la-locker.o
*.o
*.lo
*.la
.*.swp
Doxyfile
*.kdev*
autogen.sh
*~
configure
debug/
libmp3tunes-1.0.tar.gz
